<!DOCTYPE html>
<html lang="es">

    <head>        
        {% include "base/head.njk" %}

        {% if ".com" in site.url %}
            {% include "base/analytics.njk" %}
        {% endif %}
    </head>

    <body>

        {% include "base/preloader.njk" %}

        <main>
            {% include "base/header.njk" %}

            {% block content %}

                {{content | safe }}

            {% endblock content %}

            {% block postcontent %}

            {% endblock postcontent %}

            {% if title != "Contáctanos" %}
                {% include "cta.njk" %}
            {% endif %}

            {% include "base/footer.njk" %}

        </main>

        {% include "base/scripts.njk" %}

    </body>

</html>