<!DOCTYPE html>
<html lang="es">

    <head>        
        {% include heade.njk %}
    </head>

    <body>

        <!-- Start: Preloader section -->
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
        <!-- End: Preloader section -->

        <main>
            {% include header.njk %}

            {% block content %}

                {{content | safe }}

            {% endblock content %}

            {% block postcontent %}

            {% endblock postcontent %}

            {% include cta.njk %}

            {% include footer.njk %}

        </main>

        {% include scripts.njk %}

    </body>

</html>