<section id="team-members" class="team-members page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-heading">
            <h1>Nuestra comunidad</h1>
            </div>
            <div class="team-member clearfix wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-6">
                    <div class="team-member-img center-block"></div>
                    <table class="team-member-contact center-block">
                        <tbody>
                            <tr>
                                <td>Email:</td>
                                <td>wahidsgarage@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>+8801922556041</td>
                            </tr>
                            <tr>
                                <td>Linkedin:</td>
                                <td>wahidpolin</td>
                            </tr>
                            <tr>
                                <td>Facebook:</td>
                                <td>wahidpolin</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="team-member-desc">
                        <div class="team-member-desc-heading">
                            <h4>Wahid Polin</h4>
                            <span>CEO &amp; founder of GhuGhu</span>
                        </div>
                        <p>We are a digital design company based in Bangladesh, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                        <p>We are a digital design company based in Bangladesh, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>

            <div class="team-member clearfix wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-6 col-md-push-6">
                    <div class="team-member-img center-block"></div>
                    <table class="team-member-contact center-block">
                        <tbody>
                            <tr>
                                <td>Email:</td>
                                <td>wahidsgarage@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>+8801922556041</td>
                            </tr>
                            <tr>
                                <td>Linkedin:</td>
                                <td>wahidpolin</td>
                            </tr>
                            <tr>
                                <td>Facebook:</td>
                                <td>wahidpolin</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="team-member-desc">
                        <div class="team-member-desc-heading">
                            <h4>Marvin López</h4>
                            <span>CEO &amp; founder of GhuGhu</span>
                        </div>
                        <p>We are a digital design company based in Bangladesh, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                        <p>We are a digital design company based in Bangladesh, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>

            </div>

            <div class="team-member clearfix wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-6">
                    <div class="team-member-img center-block"></div>
                    <table class="team-member-contact center-block">
                        <tbody>
                            <tr>
                                <td>Email:</td>
                                <td>wahidsgarage@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>+8801922556041</td>
                            </tr>
                            <tr>
                                <td>Linkedin:</td>
                                <td>wahidpolin</td>
                            </tr>
                            <tr>
                                <td>Facebook:</td>
                                <td>wahidpolin</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="team-member-desc">
                        <div class="team-member-desc-heading">
                            <h4>Wahid Polin</h4>
                            <span>CEO &amp; founder of GhuGhu</span>
                        </div>
                        <p>We are a digital design company based in Bangladesh, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                        <p>We are a digital design company based in Bangladesh, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>