<section id="team-members" class="team-members page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-heading">
            <h1>Nuestro Equipo</h1>
            </div>
            {% for member in collections.team %}
            
            <div class="team-member clearfix wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-6 {% if loop.index%2 %} col-md-push-6 {% endif %}">
                    <div class="team-member-img center-block" style="background-image: url({{ member.data.photo }});"></div>
                    <table class="team-member-contact center-block">
                        <tbody>
                            <tr>
                                <td class="text-center" colspan="2"><a href="mailto:{{ member.data.email }}" rel="noopener noreferrer" title="Email" class="btn btn-warning btn-lg"><i class="fa fa-linkedin fa-fw"></i> Enviame un correo</a></td>
                                {# <td>Email:</td>
                                <td><a href="mailto:{{ member.data.email }}" rel="noopener noreferrer">{{ member.data.email }}</a></td> #}
                            </tr>
                            <tr>
                                <td class="text-center" colspan="2"><a href="{{ member.data.linkedin }}" target="_blank" rel="noopener noreferrer" title="LinkedIn" class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i> Sígueme en LinkedIn</a></td>
                                {# <td><a href="{{ member.data.linkedin }}" target="_blank" rel="noopener noreferrer">{{ member.data.linkedin }}</a></td> #}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 {% if loop.index%2 %} col-md-pull-6 {% endif %}">
                    <div class="team-member-desc">
                        <div class="team-member-desc-heading">
                            <h4>{{ member.data.name }} </h4>
                            <span>{{ member.data.role }} | {{ member.data.email }}</span>
                        </div>
                        {{ member.data.content | safe }}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>