<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper clearfix page wow fadeInUp">
                <div class="col-md-6 footer-left">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="footer-link footer-link-1">
                                <h4>Sobre nosotros</h4>
                                {% set navPages = collections.all | eleventyNavigation %}
                                <ul>
                                    {%- for entry in navPages %}
                                        <li>
                                            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                                        </li>
                                    {%- endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="footer-link footer-link-2">
                                <h4>Servicios</h4>
                                <ul>
                                    {% for service in collections.services %}
                                        <li>
                                            <a href="{{ service.data.url }}">{{ service.data.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 footer-text">
                    <p>{{ site.slogan }}</p>
                    &copy;
                    {{ site.year }}
                    <span class="name">{{ site.title_a }}</span>
                    <span class="thin">{{ site.title_b }}</span>
                    <br/>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    <br/>
                    <script src="https://platform.linkedin.com/in.js" type="text/javascript">
                    lang: es_Es
                </script>
                <script type="IN/FollowCompany" data-id="69391084" data-counter="right"></script>
                </div>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: .container-->
</footer>
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-info">
                    <p>
                        <span class="hand"></span>
                        Crafted by
                        <a href="https://www.imarv.in/" target="_blank" rel="noopener noreferrer">imarv.in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>