{% extends "base.njk" %}

{% block content %}

<link rel="stylesheet" href="/assets/css/timeline.css">

<section id="about-banner" class="about-banner">
    <div class="container">
        <div class="about-banner-wrapper full-height">
            <div class="about-heading">
                <h3 class="wow fadeInUp" data-wow-delay="0.3s">{{ site.slogan }}</h3>
                <h1 class="wow fadeInUp" data-wow-delay="0.6s">{{ site.title_a }}<span class="thin">
                              {{ site.title_b }}</span></h1>
            </div>
        </div>        
    </div>
</section>

<section id="about-us" class="about-us page">
    <div class="container wow fadeInUp" data-wow-delay="0.3s">
        <div class="row">
            <div class="about-wrapper">
                <div class="col-md-6">
                <h1>{{ title }}</h1>                                  
                </div>
                <div class="col-md-6">
                    {{content | safe }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services page">
  <div class="container wow fadeInUp">
    <div class="row">
        <div class="col-md-12 main-heading">
            <h1>{{ motive }}</h1>
        </div>
        <div class="col-md-12">
          <div class="row">
              <div class="service clearfix">
                <div class="col-md-12">
                    <div class="main-timeline">
                    {% for value in values %}  
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-globe"></i>{{ loop.index }}
                                </div>
                                <h3 class="title">{{ value }}</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                                </p>
                            </a>
                        </div> 
                    {% endfor %}               
                    </div>
                </div> 
              </div> 
          </div> 
        </div>
    </div>
  </div>
</section>

<!-- {% include "team-member.njk" %} -->

{% endblock content %}