{% extends "base.njk" %}

{% block content %}

<section id="banner" class="banner">

    <div class="container">
        <div id="ghughu-banner-carousel" class="carousel slide carousel-fade" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#ghughu-banner-carousel" data-slide-to="0" class="active"></li>
                {% for element in collections.carousel %}
                  <li data-target="#ghughu-banner-carousel" data-slide-to="{{ loop.index }}"></li>
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner full-height" role="listbox">
                <div class="item active banner-item">
                    <div class="row text-center">
                        <img src="{{ site.intro_image }}" style="width:90%" class="animated fadeInUp delay-1 img-fluid mx-auto d-block" alt="banner">
                        <!-- <div class="col-sm-5 col-md-7 text-center"> <img src="assets/images/Agile-Institute.png" class="animated fadeInUp delay-4 img-responsive" alt="banner"> </div> <div class="col-sm-5 text-center"> <h3 class="animated fadeInUp delay-3">Agile Institute es una red de profesionales, que forma y acompaña a personas y empresas en procesos de aprendizaje y transformación digital. </h3> </div> -->
                    </div>
                </div>
                {% for element in collections.carousel %}
                    <div class="item banner-item">
                        <div class="row">
                            <div class="col-sm-7">
                                <h1 class="animated fadeInUp delay-2">{{ element.data.title_1 }}
                                    <br>
                                    {{ element.data.title_2 }}</h1>
                                <p class="animated fadeInUp delay-3">{{ element.data.description }}
                                </p>
                            </div>
                            <div class="col-sm-5 text-center hidden-xs">
                                <img src="{{ element.data.image }}" class="animated fadeInUp delay-4 img-responsive" alt="banner">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#ghughu-banner-carousel" role="button" data-slide="prev">
            <i><img src="assets/images/banner-carousel/arrow-left.svg" alt="icons"></i>
        </a>
        <a class="right carousel-control" href="#ghughu-banner-carousel" role="button" data-slide="next">
            <i><img src="assets/images/banner-carousel/arrow-right.svg" alt="banner"></i>
        </a>
    </div>
</section>

<section id="who-are-we" class="who-are-we page">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-sm-5 col-md-6">
                <h1> {{ what_we_do }} </h1>
            </div>
            <div class="col-sm-7 col-md-6">
                {{ content | safe }}
            </div>
        </div>
    </div>
</section>
<!-- most probably like canvas -->
<section id="services" class="services page">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12 main-heading">
                <h1>{{ route }}</h1>
                <h3>
                    {{ route_description }}
                </h3>
            </div>
            {% for step in collections.steps %}
                <div class="col-md-12">
                    <div class="row">
                        <div class="service clearfix">
                            <div class="col-sm col-md-2">
                                <span class="service-number">{{ step.data.id }}</span>
                            </div>
                            <div class="col-sm col-md-3">
                                <img src="{{ step.data.image }}" class="animated fadeInUp delay-4 img-responsive" alt="banner">
                            </div>
                            <div class="col-sm-8 col-md-7">
                                <h2>{{ step.data.title }}</h2>
                                <p>{{ step.data.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}