{% extends "base.njk" %}

{% block content %}

<link rel="stylesheet" href="/assets/css/wordcloud.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://raw.githubusercontent.com/lucaong/jQCloud/master/jqcloud/jqcloud-1.0.4.js"></script>
<script src="/assets/js/wordcloud.js"></script>

<section id="about-banner" class="about-banner">
    <div class="container">
        <div class="about-banner-wrapper full-height">
            <div class="about-heading">
                <h3 class="wow fadeInUp" data-wow-delay="0.3s">{{ slogan }}</h3>
                <h1 class="wow fadeInUp" data-wow-delay="0.6s">{{ name }}</h1>
            </div>
        </div>
        <div class="text-center full-height">
            <h1>{{ motive }}</h1>
            {% for value in values %}                  
              <ol class="center">
                <li><span class="snippet-heading">{{ value }}</span></li>
              </ol>
            {% endfor %}                  
        </div>
        <div id="word-cloud"></div>
    </div>
</section>

<section id="about-us" class="about-us page">
    <div class="container wow fadeInUp" data-wow-delay="0.3s">
        <div class="row">
            <div class="about-wrapper">
                <div class="col-md-6">
                <h1>{{ motive }}</h1>
                  {% for value in values %}                  
                    <div class="section-snippet">
                        <span class="snippet-heading">{{ value }}</span>
                        <span>...</span>
                    </div>
                  {% endfor %}                  
                </div>
                <div class="col-md-6">
                    {{content | safe }}
                </div>
            </div>
        </div>
    </div>
</section>

{% include "team-member.njk" %}

{% endblock content %}