{% extends "base.njk" %}

{% block content %}

<link rel="stylesheet" href="/assets/css/wordcloud.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://raw.githubusercontent.com/lucaong/jQCloud/master/jqcloud/jqcloud-1.0.4.js"></script>
<script src="/assets/js/wordcloud.js"></script>

<style>
.demo{ background: repeating-linear-gradient(45deg, #fff 0, #fff 10px,#f9f9f9 10px,#f9f9f9 20px); }
.main-timeline{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    margin: 0 0 20px 20px;
    float: right;
}
.main-timeline .timeline-content{
    color: #000;
    background: radial-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.5),transparent);
    text-align: center;
    min-height: 125px;
    padding: 30px 20px 30px 45px;
    border-radius: 15px;
    border: 2px solid #000;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    color: #fff;
    background-color: #FF4F00;
    font-size: 37px;
    line-height: 65px;
    height: 75px;
    width: 75px;
    border: 6px solid #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: -38px;
    top: 50%;
}
.main-timeline .timeline-icon:before,
.main-timeline .timeline-icon:after{
    content: '';
    background-color: #000;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -12px;
}
.main-timeline .timeline-icon:after{ top: calc(100% + 6px); }
.main-timeline .title{
    color: #FF4F00;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.main-timeline .description{
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: left;
    margin: 0 20px 20px 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 30px 45px 30px 20px; }
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: -39px;
    left: auto;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{ background-color: #953FBE; }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #953FBE; }
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{ background-color: #00B29C; }
.main-timeline .timeline:nth-child(4n+3) .title{ color: #00B29C; }
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{ background-color: #02AFFE; }
.main-timeline .timeline:nth-child(4n+4) .title{ color: #02AFFE; }
@media screen and (max-width:767px){
    .main-timeline .timeline{
        width: 100%;
        padding-top: 40px;
    }
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 45px 20px 20px;
    }
    .main-timeline .timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        font-size: 28px;
        left: 50%;
        top: -39px;
        right: auto;
        transform: translateY(0) translateX(-50%);
    }
    .main-timeline .timeline .timeline-icon:before,
    .main-timeline .timeline .timeline-icon:after{
        top: 50%;
        left: -12px;
        transform: translateY(-50%) translateX(0);
    }
    .main-timeline .timeline .timeline-icon:after{ left: calc(100% + 6px); }
}
@media screen and (max-width:576px){
    .main-timeline .title{ font-size: 18px; }
}
</style>

<section id="about-banner" class="about-banner">
    <div class="container">
        <div class="about-banner-wrapper full-height">
            <div class="about-heading">
                <h3 class="wow fadeInUp" data-wow-delay="0.3s">{{ slogan }}</h3>
                <h1 class="wow fadeInUp" data-wow-delay="0.6s">{{ name }}</h1>
            </div>
        </div>        
    </div>
</section>

<section id="about-us" class="about-us page">
    <div class="container wow fadeInUp" data-wow-delay="0.3s">
        <div class="row">
            <div class="about-wrapper">
                <div class="col-md-6">
                <h1>{{ title }}</h1>                                  
                </div>
                <div class="col-md-6">
                    {{content | safe }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services page">
  <div class="container wow fadeInUp">
    <div class="row">
        <div class="col-md-12 main-heading">
            <h1>{{ motive }}</h1>
        </div>
        <div class="col-md-12">
          <div class="row">
              <div class="service clearfix">
                <div class="col-md-12">
                    <div class="main-timeline">
                    {% for value in values %}  
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-globe"></i>{{ loop.index }}
                                </div>
                                <h3 class="title">{{ value }}</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                                </p>
                            </a>
                        </div> 
                    {% endfor %}               
                    </div>
                </div> 
              </div> 
          </div> 
        </div>
    </div>
  </div>
</section>

<!-- {% include "team-member.njk" %} -->

{% endblock content %}