{% extends "base.njk" %}

{% block content %}

<!-- main header ends-->
<section id="about-banner" class="about-banner">
    <div class="container">
        <div class="about-banner-wrapper full-height">
            <div class="about-heading">
                <h3 class="wow fadeInUp" data-wow-delay="0.3s">{{ title }}</h3>
                <h1 class="wow fadeInUp" data-wow-delay="0.6s">{{ name }}</h1>
            </div>
        </div>
    </div>
</section>

<section id="about-us" class="about-us page">
    <div class="container wow fadeInUp" data-wow-delay="0.3s">
        <div class="row">
            <div class="about-wrapper">
                <div class="col-md-6">
                <h1>{{ motive }}</h1>
                  {% for value in values %}                  
                    <div class="section-snippet">
                        <span class="snippet-heading">{{ value }}</span>
                        <span>...</span>
                    </div>
                  {% endfor %}                  
                </div>
                <div class="col-md-6">
                    {{content | safe }}
                </div>
            </div>
        </div>
    </div>
</section>

{% include "team-member.njk" %}

{% endblock content %}